.wrapper {
    width: 100%;
    background-color: rgba(249, 244, 244, 0.95);
    height: 50vh;
    padding: 5px;
}
.bar-wrapper {
    width: 70%;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    height: 95%;
}
.color {
    color: rgb(9, 9, 103)
}